<html>
  <head>
		<title>{title}</title>
    <style>
    .row {
      padding: 20px;
      display: flex;
    }
    .column {
      float: left;
      padding: 20px;
      height: 300px;
    }
    .left {
      flex: 30%;
    }
    .right {
      flex: 70%;
    }
  </style>

	<head>
  <body>
  <div>
  	<a href="/">Home</a> ||
    <a href="/clearQueue">Clear Queue</a> ||
    <a href="/clearLeaderBoard">Clear Leader Board</a>
  </div>
  <br>
  <br>
  <br>
