<html>
  <head>
		<title>{title}</title>
	<head>
  <body>
  <div>
  	<a href="/">Home</a> ||
    <a href="/searchform">Search</a> ||
		<a href="/authenticated">Authenticated</a> <!--||
    <a href="/reset">Reset</a>-->
  </div>
  <br>
  <br>
  <br>
